<html>
    <head>


    </head>
<body>
    {% if form1 %}
    <form class="form-container" method="post" >
   <h1 style="color: chartreuse; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-style: italic;">Office Expense</h1>
  
    {% csrf_token %}
    {{ form1.as_p}}
    <input type="submit" value="Update"> 
    </form> 
  


  {% else %} 
 <form class="form-container" method="post" >
   <h1 style="color: chartreuse; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-style: italic;">Purchase Expense</h1>
  
 {% csrf_token %}
 {{ form3.as_p}}
   
 <input type="submit" value="Update">

   
</form>
{% endif %}


    
</body>
</html>